<div class="wrap">
    <div class="search" (submit)="onLoginSubmit()">
       
       <form class="example-form" class="searchTerm" >
         <mat-form-field class="example-full-width">
           <input matInput    placeholder="What are you looking for?" ria-label="State" [matAutocomplete]="auto"
                  [formControl]="stateCtrl" >
           <mat-autocomplete #auto="matAutocomplete">
             <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
              
               <span>{{state.name}}</span> 
               
             </mat-option>
           </mat-autocomplete>
         </mat-form-field>
         <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
         </button>   
       </form>
       
    </div>
 </div>
 <!-- <form class="example-form">
   <mat-form-field class="example-full-width">
     <input matInput
            placeholder="State"
            aria-label="State"
            [matAutocomplete]="auto"
            [formControl]="stateCtrl">
     <mat-autocomplete #auto="matAutocomplete">
       <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
         <img class="example-option-img" aria-hidden [src]="state.flag" height="25">
         <span>{{state.name}}</span> |
         <small>Population: {{state.population}}</small>
       </mat-option>
     </mat-autocomplete>
   </mat-form-field> -->
 
 <!-- </form> -->
 