
<mdb-carousel [isControls]="false" [animation]="'slide'" class="carousel-fade">
  <div class="form-group">    
    <app-searchbar></app-searchbar>
    </div>
  <mdb-carousel-item>
    
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
  </mdb-carousel-item>
</mdb-carousel>

<!-- <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
    
  </mat-card> -->
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
  <div id="page-content" class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 myt-content-inner" style="z-index: 0;">
                <div id="page-2" class="col-md-6 col-sm-6">
                    <div class="page-box-wrapper">
                        <div itemscope itemtype="http://schema.org/Service" class="page-box">
                            <div class="box-image">
                                <img itemprop="photo" src="https://www.makeyourtrip.com/dist/images/pickdestination.png"
                                     alt="makeyourtrip Clock Time Duration">
                            </div>
                            <div class="box-title"><h3 itemprop="name" class="box-title">Get a personalized plan</h3>
                            </div>
                            <div class="box-description">
                                <p itemprop="description"> A complete day-by-day itinerary based
                                    on your personal interests and preferences.</p>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-md-6 col-sm-6" class="test">
                    <div class="page-box-wrapper">
                        <div itemscope itemtype="http://schema.org/Service" class="page-box">
                            <div class="box-image">
                                <img itemprop="photo" src="https://www.makeyourtrip.com/dist/images/customize.png"
                                     alt="makeyourtrip Geo Location Map">
                            </div>
                            <div class="box-title"><h3 itemprop="name" class="box-title">Customize your itinerary</h3>
                            </div>
                            <div class="box-description">
                                <p itemprop="description">
                                    100% flexibility - add or remove nights, change activities, change flights, change
                                    hotels,
                                    your vacation, your style.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="page-box-wrapper">
                        <div itemscope itemtype="http://schema.org/Service" class="page-box">
                            <div class="box-image">
                                <img itemprop="photo" src="https://www.makeyourtrip.com/dist/images/getcost.png"
                                     alt="makeyourtrip Passport Visa Travel">
                            </div>
                            <div class="box-title"><h3 itemprop="name" class="box-title">Get cost and book</h3></div>
                            <div class="box-description">
                                <p itemprop="description">
                                    Each line item is broken down to smartly
                                    allocate your money. Best prices guaranteed.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="page-box-wrapper">
                        <div itemscope itemtype="http://schema.org/Service" class="page-box">
                            <div class="box-image">
                                <img itemprop="photo" src="https://www.makeyourtrip.com/dist/images/havagreattrip.png"
                                     alt="makeyourtrip Fly Airfare Camera Photos">
                            </div>
                            <div class="box-title"><h3 itemprop="name" class="box-title">Adios Amigo!</h3></div>
                            <div class="box-description">
                                <p itemprop="description">
                                    Go ahead and book your entire vacation
                                    with just one click experience with Makeyourtrip.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
			
			<div class="col-md-12 myt-content-inner" style="z-index: 0;" id="totorial-d-d">
				
				<div class="clearfix makeyourtrip"> 
					<h2> How Makeyourtrip works </h2>
				</div>
				
				<div class="col-md-12 col-sm-12 text-center">
				
					<style>.codegena{position:relative;width:100%;height:0;padding-bottom:56.27198%;}.codegena iframe{position:absolute;top:0;left:0;width:100%;height:100%;}/*Youtube Embed Code : Created with Codegena.com */</style><div class="codegena"><iframe width='500' height='294' src="https://www.youtube.com/embed/Jq04t1BzjlU?&theme=light&autohide=1&modestbranding=1&showinfo=0&rel=0&iv_load_policy=3"frameborder="0"></iframe></div>
				
				</div>
				
			</div>
			
            <div class="clearfix"></div>
            <div class="col-md-12 col-sm-12">

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="sub-title"><h2 class="sub-title"> Recommended Destinations</h2></div>
                </div>
                <div class="col-md-3 col-sm-3 col-sm-3">
                    <a href="" target="_blank">
                        <div class="activities-wrapper">
                            <div class="activities" itemscope itemtype="http://schema.org/Place">
                                <div class="activity-overlay">
                                    <div class="titles-wrapper">
                                        <div class="main-title"><h3 itemprop="name" class="main-title">
                                                Bali</h3></div>
                                        <div itemprop="description" class="sub-title">Enjoy your holiday at beautiful
                                            Sanur beach, take the best selfie of your life at the beautiful Tanah Lot
                                            rock temple in Bali and feel the anger in the raging Volcano in Kintamini.
                                        </div>
                                    </div>
                                </div>
                                <div class="activity-image"><img itemprop="photo"
                                                                 src="//fmffiles.s3.amazonaws.com/files/1_DestinationSize_225x330.-FMF1501069821.jpg"
                                                                 alt="Denpasar, Bali"/></div>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-sm-3">
                    <a href="" target="_blank">
                        <div class="activities-wrapper">
                            <div class="activities" itemscope itemtype="http://schema.org/Place">
                                <div class="activity-overlay">
                                    <div class="titles-wrapper">
                                        <div class="main-title"><h3 itemprop="name" class="main-title">Maldives</h3>
                                        </div>
                                        <div itemprop="description" class="sub-title">Tour the Male city and feel the
                                            salty air of the ocean, breathe in the hot sun and feel the love all around.
                                            Snorkel and dive in the bluest, clearest waters of Maldives.
                                        </div>
                                    </div>
                                </div>
                                <div class="activity-image"><img itemprop="photo"
                                                                 src="//fmffiles.s3.amazonaws.com/files/2_DestinationSize_225x330.-FMF1501069827.jpg"
                                                                 alt="maldives"/></div>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-sm-3">
                    <a href="" target="_blank">
                        <div class="activities-wrapper">
                            <div class="activities" itemscope itemtype="http://schema.org/Place">
                                <div class="activity-overlay">
                                    <div class="titles-wrapper">
                                        <div class="main-title"><h3 itemprop="name" class="main-title">Singapore</h3>
                                        </div>
                                        <div itemprop="description" class="sub-title">The blend of modern urban
                                            cityscape with world class attractions such as Universal Studios, Marina Bay
                                            Sands, Gardens by the Bay, Singapore Flyer and landmark like the Merlion
                                            Statue.
                                        </div>
                                    </div>
                                </div>
                                <div class="activity-image"><img itemprop="photo"
                                                                 src="//fmffiles.s3.amazonaws.com/files/3_DestinationSize_225x330.-FMF1501069830.jpg"
                                                                 alt="Singapore"/></div>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-sm-3">
                    <a href="" target="_blank">
                        <div class="activities-wrapper">
                            <div class="activities" itemscope itemtype="http://schema.org/Place">
                                <div class="activity-overlay">
                                    <div class="titles-wrapper">
                                        <div class="main-title"><h3 itemprop="name" class="main-title">Sydney</h3></div>
                                        <div itemprop="description" class="sub-title">Take an exciting trip to the land
                                            down under, where hot beaches, amazing art and beautiful attractions such as
                                            Sydney Opera House, Sydney Harbour Bridge, Bondi Beach & Taronga Zoo.
                                        </div>
                                    </div>
                                </div>
                                <div photo class="activity-image"><img itemprop="photo"
                                                                       src="//fmffiles.s3.amazonaws.com/files/4_DestinationSize_225x330.-FMF1501069834.jpg"
                                                                       alt="Sydney"/></div>

                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


</div>
<div style="position: fixed;  right: 16px; z-index:999;   bottom: 10px; display: none">
			<span class="closer-win" style="z-index: 99999;background: #3f7bbb;color: #dae1e4;padding: 2px 11px;border-radius: 50%;font-size: 20px;position: absolute;top: -11px;right: -9px;cursor: pointer;">x</span>
            <a href=""><img class="close-banner" style="border-radius: 4px; box-shadow: -1px 1px 20px #0009;" src="https://fmffiles.s3.amazonaws.com/trip-planner/landing-pages/Singapore-popup.jpg" alt="Free Holidays for two"></a>
    </div>
    <div id="footerDiv" class="footer">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
               <div class="container">
                  <div class="row">
              <div class="col-md-6 col-sm-6">
                 
  
              </div>
              <div class="col-md-6 col-sm-6">
         <div class="pull-right">
                  <div class="social-wrapper">
               
                  </div>
  
  
               <div class="powered-by">
                  
                               </div>
               </div>
               </div>
  
                      <div class="clearfix"></div>
                  </div>
                  <div class="clearfix"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</body>